<a href="https://colab.research.google.com/github/Mahou25/Solutions_TP_In2Py/blob/main/In2Py_TP_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### <center> <b> <span style="color:blue;"> Travaux Pratiques: Variables, Types & OpÃ©rations </span> </b></center>

**Exercise 00:**  
>

  
> 1. DÃ©clarez une variable `prenom` et attribuez-lui une valeur.
  > 2. DÃ©clarez une variable `nom` et attribuez-lui une valeur.
  > 3. DÃ©clarez une variable `prenom_nom` et attribuez-lui une valeur.
  > 4. DÃ©clarez une variable `pays` et attribuez-lui une valeur.
  > 5. DÃ©clarez une variable `ville` et attribuez-lui une valeur.
  > 6. DÃ©clarez une variable `age` et attribuez-lui une valeur.
  > 7. DÃ©clarez une variable `annee` et attribuez-lui une valeur.
  > 8. DÃ©clarez une variable `est_marie` et attribuez-lui une valeur.
  > 9. DÃ©clarez une variable `est_vrai` et attribuez-lui une valeur.

> Pour chacune des variables ci-dessus, affichez la valeur qu'elle contient Ã  l'aide de la fonction `print()`.

In [ ]:
prenom = "Paule"
nom = "YANCLO"
prenom_nom = "YANCLO Paule"
pays = "Benin"
ville = "Dangbo"
age = 18
annee = 2022
est_marie = False
est_vrai = True

**Exercise 01:** 
> VÃ©rifiez le type de donnÃ©es de toutes vos variables Ã  l'aide de la fonction intÃ©grÃ©e `type()`.**

In [ ]:
prenom = "Paule"
nom = "YANCLO"
prenom_nom = "YANCLO Paule"
pays = "Benin"
ville = "Dangbo"
age = 18
annee = 2022
est_marie = False
est_vrai = True

print(type(prenom)) 
print(type(nom)) 
print(type(prenom_nom)) 
print(type(ville)) 
print(type(age))
print(type (annee))
print(type(est_marie))
print(type(est_vrai))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>

**Exercise 02:** 
> Calculez la valeur de $y$ ($y = x^2 + 6x + 9$). Essayez d'utiliser diffÃ©rentes valeurs de $x$ et dÃ©terminez Ã  quelle valeur de $x$ $y$ sera Ã©gal Ã  0.**

In [ ]:
import math
def resoudreequation(a,b,c):
  D=pow(b,2)-(4*a*c)
  if (D>0):
    x =(-b-(math.sqrt(D)))/(2*a)
    print(x)
    print("ou bien")
    x=(-b+(math.sqrt(D)))/(2*a)
    print(x)
  elif (D==0):
    x = -b/(2*a)
    print(x)
  elif (D<0):
    print("x n'est pas reel")  

resoudreequation(1,8,6)

-7.16227766016838
ou bien
-0.8377223398316205

**Exercise 03:** 
>    

     1. DÃ©clarez votre Ã¢ge sous forme de variable entiÃ¨re
     2. DÃ©clarez votre taille en tant que variable flottante
     3. DÃ©clarez une variable qui stocke la base et la hauteur d'un triangle. Calculez l'aire de ce triangle (aire = 0,5 x b x h).

In [ ]:
age = 45
taille = 25,4
base = 90
hauteur = 45
aire = base * hauteur* 0,5

## *AstuceÂ : recevoir les entrÃ©es de l'utilisateur *
**Pour recevoir une entrÃ©e de l'utilisateur, nous utilisons `input()`.**.

**Exemple**
Recevez deux nombres en entrÃ©e de l'utilisateur et calculez leur puissanceÂ :
```python
base = input("Entrez une base : ")
exposant = input("Entrez un exposant : ")
resultat = float(base) ** float(exposant)
print(f "{base} Ã  la puissance {exposant} = {rÃ©sultat}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [ ]:
a = input("le cote a" )
b = input("le cote b ")
c = input("le cote c ")
perimeter = float(a)+float(b)+float(c)
print(perimeter)

le cote a5
le cote b 4.2
le cote c 3.5
54.23.5

**Exercise 05:** 
> **Obtenez la longueur et la largeur d'un rectangle Ã  l'aide de l'invite. Calculer sa `superficie` et son `perimetre`.**

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonfÃ©rence (c = 2 x pi x r) oÃ¹ pi = 3,14.**

**Exercice 07:**
> **Calculez la pente, l'ordonnÃ©e Ã  l'origine en x et l'ordonnÃ©e Ã  l'origine en $y$ de $y = 2x -2$.**

**Exercice 08:** 
> **RÃ©digez un script qui demande Ã  l'utilisateur d'entrer les heures et le taux horaire. Calculez la rÃ©munÃ©ration de la personne ?**

**Exercice 09:** 
> **Ã‰crivez un script qui demande Ã  l'utilisateur d'entrer le nombre d'annÃ©es. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

**Exercice 10:** 
> **Ã‰crivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

**Exercise 11:** 
>**Attribuez aux variables `temps` et `distance` les valeurs $6.892$ et $19.7$. Calculer et afficher la valeur de la vitesse. AmÃ©liorer l'affichage en imposant un chiffre aprÃ¨s la virgule.**

**Exercice 12:** 
> **Ã‰crire un programme qui, Ã  partir de la saisie dâ€™un rayon et dâ€™une hauteur, calcule levolume dâ€™un cÃ´ne droit.**

In [ ]:
r=input("entre le rayon")
h=input("entre la hauteur")
rayon =int(r)
hauteur = int(h)
pi = 3,14
B= pi * pow(rayon,2)
aire = (B*hauteur)/3
print(aire)

entre le rayon4
entre la hauteur5

TypeError: ignored

**Exercise 13:** 
> **L'utilisateur donne un entier positif et le programme annonce combien de fois de suite cet entier est divisible par 2.**

In [ ]:
   entier = input("entrer un nombre entier ")
   ent = int(entier)
   i=0
   if(ent%2==0):
     print("le nombre de fois de suite cet entier est divisible par 2 est ")   
     while(ent%2==0):
       ent /= 2
       i+=1
     print(i)
   else:
      print("le nombre n'est pas un multiple de 2 ")

entrer un nombre entier 14
le nombre de fois de suite cet entier est divisible par 2 est
1

**Exercise 14:** 
>**L'utilisateur donne un nombre entier entre 2 et 12, le programme donne le nombre de faÃ§ons de le faire en lanÃ§ant deux dÃ©s.**

**Exercice 15:** 
> **Utilisez la fonction d'entrÃ©e intÃ©grÃ©e `input()` pour obtenir le `_prÃ©nom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [ ]:
prenom = input("Votre Prenom svp")
nom =input("Votre nom svp")
pays_origine = input("Votre pays d'origine svp")
age = input("votre age svp")

Votre Prenom svpPaule
Votre nom svpYANCLO
Votre pays d'origine svpBenin
votre age svp25

**Exercice 16:** 

**DÃ©clarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur Ã  une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur Ã  une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur Ã  une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur Ã  une variable `division`.
   5. Calculez `num_one` Ã  la puissance de `num_two` et attribuez la valeur Ã  une variable `exp`.

In [ ]:
num_one = 5
num_two= 4
total = num_one + num_two
num_one -= num_two
produit = num_one * num_two
division = num_one / num_two
exp = pow(num_one,num_two)

<center> <b> <span style="color:orange;"> ðŸŽ‰ FÃ‰LICITATIONS! ðŸŽ‰ </span> </b></center>